@using Microsoft.AspNetCore.Mvc.Localization
@using FenixAlliance
@using FenixAlliance.ABS.Portal.UI.i18n.Resources
@using SharedResources = FenixAlliance.ABS.Portal.UI.Resources.SharedResources

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<link rel="stylesheet" href="~/FenixAlliance.UI.Core.V1/styles/MaterialPreloader.css" asp-append-version="true" />
<div class="load" id="Preload" style="z-index:10000;display:none; background-color:aliceblue;">
    <div class="dot"></div>
    <div class="outline"></div>
</div>
