

<link rel="stylesheet" href="~/ui/styles/MaterialPreloader.css" asp-append-version="true" />
<div class="load" id="Preload" style="z-index:10000;display:none; background-color:aliceblue;">
    <div class="dot"></div>
    <div class="outline"></div>
</div>
